@media all and (max-width: 1600px) {
     .banner-section .container .row .banner-content h1 {
          padding: 10px 0;
      }
      .banner-section{
          padding: 180px 0;
      }
}
@media all and (max-width: 1400px) {}
@media all and (max-width: 1200px) {
     .header-section ul {
          
      }
      .header-section ul li a{
          font-size: 18px;
          padding: 0px 17px;
      }
      .banner-section{
          padding: 150px 0;
      }
}
@media all and (max-width: 992px) {
     /* -------header-section-start------ */
     /* -------header-section-start------ */
     .logo{
          width: 100%;
     }
     .header-section img{
               width: 129px;
               height: 51px;
     }
     .list-item{
          width: 100%;
     }
     .header-section .row{
          flex-wrap:wrap;
          text-align: center;
          padding-bottom: 10px;
      }
      .header-section ul {
          line-height: 300%;
      }
      .header-section ul li a{
          font-size: 19px;
          padding: 0px 22px;
      }
      .banner-section{
          padding: 130px 0;
      }
      .second{
          height:200px
      }
      .first h1{
           
      }
}
@media all and (max-width: 768px) {
     .header-section ul li a{
          padding: 0px 16px;
     }
     .header-section ul {
          line-height: 254%;
      }
      .header-section .logo{
      }
      .header-section img{
          width: 120px;
          height: 49px;
      }
      .banner-section{
          padding: 90px 0;
      }
      .card-items{
           flex-wrap: wrap;
           align-content: space-around;
      }
      .about-jillur{
           width: 100%;
           margin-top: 20px;
      }
}
@media all and (max-width: 668px) {
     .header-section ul li a{
          padding: 0px 7px;
          font-size: 17px;
     }
     .header-section img{
          width: 110px;
          height: 43px;
      }
      .banner-section{
          padding: 70px 0;
      }
}
@media all and (max-width: 500px) {
     .header-section ul li a {
          font-size: 13px;
      }
      .header-section ul {
          line-height: 188%;
      }
      .header-section img{
          width: 105px;
          height: 40px;
      }
      .banner-section .container .row .banner-content h1{
           font-size: 26px;
      }
      .banner-section .container .row .banner-content p{
           font-size: 11px;
      }
      .banner-section{
          padding: 60px 0;
      }
}
@media all and (max-width: 420px) {
     .header-section ul li a {
          padding: 0px 4px;
          font-size: 10px;
      }
      .header-section img{
          width: 90px;
          height: 35px;
      }
      .banner-section .container .row .banner-content h1 {
          font-size: 18px;
      }
      .banner-section{
          padding: 50px 0;
      }
}
@media all and (max-width: 380px) {
     .header-section img{
          width: 70px;
          height: 25px;
      }
      .banner-section{
          padding: 110px 0;
      }
      .banner-section{
          padding: 40px 0;
      }
}