*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.header-section .row{
    display: flex;
    justify-content: space-between;
}
/* -----------------header-section start---------------------- */
/* -----------------header-section start---------------------- */
.header-section{
    background-color:rgba(234, 233, 233, 0.3);
    box-shadow: 0px 10px 10px rgb(31, 30, 30);
}
.header-section .container .row{

}
.logo{
    margin-top: 0;
    display:inline-block;
}
img{
   width: 150px;
   height: 62px;
}
.list-item{
    display: inline-block;
}
.header-section ul{
   line-height: 400%;
   
}
.header-section ul li{
    display: inline-block;
    /* height: 100%; */
    border-right:1px solid rgb(6, 118, 171);
    
}
.header-section ul li a{
    color:rgb(12, 101, 235);
    text-decoration:none;
    font-size:20px;
    padding:0px 30px;
}
/* hover-section */
.header-section ul li a:hover{}
/*--------------header section end-----------------*/
/*--------------header section end-----------------*/
/*  */
/*  */
/* ------------banner-section start----------------*/
/* ---------   banner-section start-------------- -*/
.banner-section{
    background-image: url(./images/leading-web-design-trends.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    z-index: 1;
    background-position: center center;
}
.banner-section::before{
    content: '';
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
}
.banner-section .container{
    
}
.banner-section .container .row{
}
.banner-section .container .row .banner-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.banner-section .container .row .banner-content h1{
    color:#ffffff;
    text-align: center;
}
.banner-section .container .row .banner-content p{
    color:#ffffff;
    text-align: center;
}

/* ------------banner-section end----------------*/
/* ---------   banner-section end-------------- -*/
/*  */
/*  */
/* -----------About section start---------- */
/* -----------About section start---------- */
.about-section{
    background-color:#bdc3c7;
    padding-bottom:50px;
}
.about-section .container{}
/* first-row */
.about-section .container .row:nth-child(1){
    text-align: center;
    padding:50px 0px;
}
.about-section .container .about-content{
}
.about-section .container .about-content h1{
    
}
.about-section .container .about-content p{
    
}
/* first-row-end */
/* second-row */
.about-section .row:nth-child(2){
   
}
.about-section .row:nth-child(2) .first-col{
    margin-left: 150px;
    font-size: 30px;
    color: white;
}
.about-section .row:nth-child(2) .second-col{
    margin-left: 100px;
    font-size: 30px;
    color: white;
}
.about-section .row:nth-child(2) .third-col{
    margin-left: 50px;
    font-size: 30px;
    color: white;
}
/* third-row start */
.about-section{
    
}
.about-section .row:nth-child(3){
    text-align: center;
    padding: 0%;
}
.about-section .row:nth-child(3) .about-jillur{
    background-color: red;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 10px 5px rgb(0, 166, 255);
} 
.about-section .row:nth-child(3) .about-jillur:hover{
    transition: 1s;
    transform: scale(1.1);
}
.about-section .row:nth-child(3) .about-jillur .first{
    color:#fff;
}
.about-section .row:nth-child(3) .about-jillur .second{
    background-color: #ffffff;
    border-radius: 70% 0% 15px 15px;
    transition: 1s;
}
.about-section .row:nth-child(3) .about-jillur .second:hover{
    background-color:rgb(255, 124, 2);
}
.card-items{
    display: flex;
    justify-content: space-between;
}
.about-jillur{
    width: 30%;
}
.second{
    padding: 50px;
    height:300px
}
.first{
    height: 50%;
}
/* -----------About section End---------- */
/* -----------About section End---------- */
/* ---------- */
/* ---------- */
/* ----------Course Section Start---------- */
/* ----------Course Section Start---------- */
.course-section{
    background-color: #f39c12;
    padding: 60px 0;
}
.course-section .container{

}
.course-section .container  .row:nth-child(1){
}
.course-section .container  .row:nth-child(1) div{
    text-align: center;
}
.course-section .container  .row:nth-child(1) div h1{
    color:#fff;
}
.border-right{
    border-right: 5px solid #ddd;
}
input,label{
    display: block;
}
label{
    font-size: 20px;
}
.course-items h1{
    padding: 10px 0;
}
.course-items{
    display: flex;
    justify-content: space-between;
}
.course-section .container .row:nth-child(2) {
    padding: 40px 0px;
}
.left-content{
    width: 65%;
}
.right-content {
    width: 30%;
    align-self: center;
}
input, label{
    width: 100%;
    padding: 10px 0;
    border: none;
}
textarea{
    height: 100px;
    width: 100%;
}
.btn{
    width: 40%;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
}
.btn:hover{
    background-color: rgb(7, 100, 249);
    color: white;
}
/* ---------Course Section End--------- */
/* ---------Course Section End--------- */
/* - */
/* - */
/* --------Foteer Section Start-------- */
/* --------Foteer Section Start-------- */
footer{
    background-color:black;
    color:white;
}
footer .container{

}
footer .row{
}
footer .row{

}
footer .row .col-md-6{

}
footer .row .col-md-6 p{

}
footer .row .col-md-6 img{

}
.icon{
    color:white;
    font-size: 30px;
}
footer{
    padding: 80px 0;
}
.footer-items{
    display: flex;
    justify-content: space-between;
}
.footer-left{
    width: 20%;
}
.footer-right{
    width: 70%;
}
.footer-right-items{
    display: flex;
    justify-content: space-between;
    height: 100%;
    line-height: 30px;
}
.border{
    border-left:#ff0000 2px solid;
    align-self: center;
    padding: 30px;

}
/* ------------- Footer Section End-------------- */
/* ------------- Footer Section End-------------- */

